## python 3.10.8
# basic
openai==0.27.0
pandas==1.5.3
PyYAML==6.0

# frontend
Flask==2.2.3
requests==2.28.2
gunicorn==20.1.0

# embedding
tiktoken==0.3.2
matplotlib==3.7.1
plotly==5.13.1
scipy==1.10.1
scikit-learn==1.2.1

# doc extraction
python-docx==0.8.11
python-pptx==0.6.21

# html extraction
beautifulsoup4==4.11.2
trafilatura==1.4.1

# misc
psutil==5.9.4
