## python 3.10.8
# basic
openai==0.27.0
pandas==1.5.3
PyYAML==6.0

# frontend
Flask==2.2.3
requests==2.28.2
gunicorn==20.1.0

# nlp
nltk==3.8.1

# doc extraction
python-docx==0.8.11
python-pptx==0.6.21

# html extraction
beautifulsoup4==4.11.2
trafilatura==1.4.1

# doc indexer1
# python-terrier==0.9.2

# doc indexer2
sentence-transformers==2.2.2
faiss-cpu==1.7.3
langchain==0.0.95

