<div class="accordion" id="explain-result">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePrompt" aria-expanded="true" aria-controls="collapsePrompt">
                Click to obtain examples of prompt 👆
            </button>
        </h2>
        <div id="collapsePrompt" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-grid gap-2 mx-auto">
                            <div style="font-weight: bold">Prompts that SearchGPT > ChatGPT</div>
                            {% for prompt in prompt_examples_json.col1_list %}
                            <button class="btn btn-light prompt-ex-btn" type="button">{{prompt}}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-grid gap-2 mx-auto">
                            <div style="font-weight: bold">Multi-language experiments</div>
                            {% for prompt in prompt_examples_json.col2_list %}
                            <button class="btn btn-light prompt-ex-btn" type="button">{{prompt}}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-grid gap-2 mx-auto">
                            <div style="font-weight: bold">Users' last 5 queries (coming soon!)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>